* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
 
}
.logo {
    max-height: 10vh;
    max-width: 16vw;
    display: flex;
}
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 5;
}
nav {
    background-color: white;
    align-items: flex-end;
    display: flex;
    width: 100%;
}
.head1 {
    background-color: #232323;
    color: white;
    text-transform: capitalize;
    padding: 1em;
    justify-content: flex-end;
    display: flex;
    text-decoration: none;
    overflow: visible;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    align-items: flex-end;
}
.head1:hover {
    background-color: #54be90;
}
.background {
    background-image: url('leaf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-size: 5rem;
    font-weight: normal;
    color: white;
    text-align: center;
    padding-top: 2em ;
    justify-content: space-around;
}
.name {
    font-weight: bold;
    text-decoration: underline #ffffff;
    color: #54be90;
}
.boop {
    text-align: center;
    color: white;
    justify-content: space-around;
    padding-bottom: 4em;
    font-size: 3.7rem;
    font-weight: normal;

}
.intro3 {
    text-align: center;
    background-color: #ebebeb;
    font-size: 2em;
    color: #444444;
    padding: 3em;
    
}
.box1 {
    height:200px;
    width: 200px;
    background-color: #ebebeb;
    border-radius: 50%;
    margin-top: -7em;

}
.box2 {
    height:200px;
    width: 200px;
    background-color: #ebebeb;
    border-radius: 50%;
    margin-top: -7em;


}
.box3 {
    height:200px;
    width: 200px;
    background-color: #ebebeb;
    border-radius: 50%;
    margin-top: -7em;


}
.box4 {
    height:200px;
    width: 200px;
    background-color: #ebebeb;
    border-radius: 50%;
    margin-top: -7em;


}
.boxes {
    display: flex;
    justify-content: space-around;
}
.intro2 {
    background-color: #232323 ;
}
.part3, h2 {
    color: #54be90;
}


.part3 {
 
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 4em;
    
    
}
.part3 p {
    color: white;
    letter-spacing: 0.05em;
    display: flex;
    padding: 1em;
}
.skills {
    background-color:white ;
    padding: 0.5em;
    
}
.skills h1 {
    color: #54be90;
    font-weight: bold;
    padding: 1em;
}
.container {
    display: flex;
    width: 80%; 
    background-color: #ebebeb;
    color: #232323;
    text-align: right;
    overflow: visible;
    
  }
  hr {
      height: 0.5em;
      border: none;
  }
.skills {
    text-align: right; 
    padding-top: 10px; 
    padding-bottom: 5px; 
    color: white; 
  }

  
  .skills p {
      color: white;
      background-color: #232323;
      width: 6em;
      text-align: center;
      line-height: 1em;
      padding: 1em;
  }
.html {width: 90%; background-color: #54be90;} 
.css {width: 80%; background-color: #54be90;} 
.js {width: 65%; background-color: #54be90;} 
.php {width: 60%; background-color: #54be90;}
.jquery {width: 70%; background-color: #54be90;} 
.laravel {width: 60%; background-color: #54be90;}
.ux {width: 50%; background-color: #54be90;}
.react {width: 60%; background-color: #54be90;}

.portfolio {
	background-color: #54be90;
	padding: 2rem 15% 6rem 15%;
}

.portfolio .heading {
    color: #ffffff;
    padding: 1em;
    font-weight: bold;
}

.portfolio-item-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.portfolio-item {
	width: 32%;
	background-color: #ffffff;
	margin-bottom: 1rem;
	padding: 0.5rem;
}

.portfolio-item-highlight {
	background-color: #232323;
}

.portfolio-item-highlight:hover {
	box-shadow: 2px 2px 20px 0px rgba(68, 68, 68, 1);
}

.portfolio-item-highlight:hover .button {
	box-shadow: 2px 2px 8px 0px rgba(68, 68, 68, 0.75);
}

.portfolio-img {
	width: 100%;
	height: 10rem;
	object-fit: cover;
}

.portfolio-desc {
	background-color: #ebebeb;
	text-align: center;
	padding: 1rem;
}

.portfolio-text {
	margin: 0;
}

.portfolio-stack {
	font-size: 1.25rem;
	font-weight: bold;
	text-align: left;
	margin-top: 1.5rem;
	margin-bottom: 0;
}

.portfolio .button {
	display: block;
	width: 80%;
}
.aboutme {
    color: #232323;
    background-color: #ebebeb;
    font-weight: bold;
    width: 100%;
    

}
.about{
    display: flex;
    flex-wrap: wrap;   
    background-color: #ebebeb;
    padding-bottom: 8em;
    
}
 .me {
    border-radius: 50%;
    padding: 1em;
 }  
.image {
 
    width: 40%;
    max-width: 30rem;
    height: 30rem;
}
.text {
    width: 50%;
    font-size: 1.2rem;
    padding: 3em;
   
}
.text p {
    padding: 1em 0em 1em 3em;
}
.text p span {
    border-bottom: 0.5em solid #54be90;
}
.cta {
    font-size: 1.25em;
    font-weight: bold;
}
.buttoncontact {
    background-color: #54be90;
    color: white;
    font-size: 2em;
    border-radius: 20%;
}
.buttoncontact:hover {
    opacity: 50%;
}
.findme  {
    background-color: #232323;
    width: 100%;
}
.findme h1 {
    font-weight: bold;
    padding: 1em;
    
}
.media {
    display: flex;
    justify-content: space-around;
    padding-bottom: 6em;
}
.social:hover  {
	opacity: 0.75;
}
.contact {
    background-color: #54be90;
}
.contact .heading {
    color: #ffffff;
    font-weight: bold;
    padding: 1em;
}

.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 4rem;
}
.form-input {
	width: 48%;
	color: #ffffff;
	background: transparent;
	border: none;
	border-bottom: 1px solid #ebebeb;
	outline: none;
	font-size: 1.5rem;
	margin-bottom: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.form-input::placeholder {
	color: #ebebeb;
}
.form-label {
	width: 100%;
	color: #ebebeb;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.form-textarea {
	width: 100%;
	border: none;
	border-radius: 0.5rem;
	outline: none;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.5rem;
	margin-bottom: 2rem;
	padding: 0.5rem;
}
.form-button {
	width: 100%;
	color: #ffffff;
	background-color: #232323;
	border: none;
	border-radius: 0.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 4rem;
	padding: 0.75rem;
	cursor: pointer;
}

.form-button:hover {
	box-shadow: 2px 2px 8px 0px rgba(68, 68, 68, 0.75);
}
.footer {
	background-color: #ebebeb;
	padding: 4rem 15%;
}
.footer .heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
      color: #232323;
      font-size: 3.5rem;
      font-weight: 800;
  }
  
  .footer-line {
      width: 25%;
      height: 0.5rem;
      background-color: #54be90;
  }
  
.footer-copy {
	font-size: 1.5rem;
	text-align: center;
	margin-top: 4rem;
}