* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
 
}
.logo {
    max-height: 10vh;
    max-width: 16vw;
    display: flex;
}
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 5;
}
nav {
    background-color: white;
    align-items: flex-end;
    display: flex;
    width: 100%;
}
.head1 {
    background-color: #232323;
    color: white;
    text-transform: capitalize;
    padding: 1em;
    justify-content: flex-end;
    display: flex;
    text-decoration: none;
    overflow: visible;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    align-items: flex-end;
}
.head1:hover {
    background-color: #54be90;
}
.background {
    background-image: url('leaf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-size: 5rem;
    font-weight: normal;
    color: white;
    text-align: center;
    padding-top: 2em ;
    justify-content: space-around;
}
.name {
    font-weight: bold;
    text-decoration: underline white;
    color: #54be90;
}
.boop {
    text-align: center;
    color: white;
    justify-content: space-around;
    padding-bottom: 4em;
    font-size: 3.7rem;
    font-weight: normal;

}
.intro3 {
    text-align: center;
    background-color: #ebebeb;
    font-size: 2em;
    color: #444444;
    padding: 3em;
    
}
.box1 {
    height:200px;
    width: 200px;
    background-color: #ebebeb;
    border-radius: 50%;
    margin-top: -7em;

}
.box2 {
    height:200px;
    width: 200px;
    background-color: #ebebeb;
    border-radius: 50%;
    margin-top: -7em;


}
.box3 {
    height:200px;
    width: 200px;
    background-color: #ebebeb;
    border-radius: 50%;
    margin-top: -7em;


}
.box4 {
    height:200px;
    width: 200px;
    background-color: #ebebeb;
    border-radius: 50%;
    margin-top: -7em;


}
.boxes {
    display: flex;
    justify-content: space-around;
}
.intro2 {
    background-color: #232323 ;
}
.part3, h2 {
    color: #54be90;
}


.part3 {
 
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 4em;
    
    
}
.part3 p {
    color: white;
    letter-spacing: 0.05em;
    display: flex;
    padding: 1em;
}
.skills {
    background-color:white ;
    padding: 0.5em;
    
}
.skills h1 {
    color: #54be90;
    font-weight: bold;
    padding: 1em;
}
.container {
    display: flex;
    width: 80%; 
    background-color: #ebebeb;
    color: #232323;
    text-align: right;
    overflow: visible;
    
  }
  hr {
      height: 0.5em;
      border: none;
  }
.skills {
    text-align: right; 
    padding-top: 10px; 
    padding-bottom: 5px; 
    color: white; 
  }

  
  .skills p {
      color: white;
      background-color: #232323;
      width: 6em;
      text-align: center;
      line-height: 1em;
      padding: 1em;
  }
.html {width: 90%; background-color: #54be90;} 
.css {width: 80%; background-color: #54be90;} 
.js {width: 65%; background-color: #54be90;} 
.php {width: 60%; background-color: #54be90;}
.jquery {width: 70%; background-color: #54be90;} 
.laravel {width: 60%; background-color: #54be90;}
.ux {width: 50%; background-color: #54be90;}
.react {width: 60%; background-color: #54be90;}

.portfolio {
    background-color: #54be90;
    color: white;
    
.portfolio h1 {
    color: white;
    text-transform: capitalize;
}
.container1 {
    width: 30%;
    background-color: #ebebeb;
    display: flex;
}
.container2 {
    width: 30%;
    background-color: #ebebeb;
    display: flex;
}
.container3 {
    width: 30%;
    background-color: #ebebeb;
    display: flex;
}
.container4 {
    width: 30%;
    background-color: #ebebeb;
    display: flex;
}
.container5 {
    width: 30%;
    background-color: #ebebeb;
    display: flex;
}
.container6 {
    width: 30%;
    background-color: #ebebeb;
    display: flex;
}